@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:900');

* {box-sizing: border-box;}

.box {
    color: white;
    font-size: 100px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    padding:15px;
}
  
/* Colours for each box */
.box1 { background:#eccc68;}
.box2 { background:#ff6348;}
.box3 { background:#ff7f50;}
.box4 { background:#ff4757;}
.box5 { background:#f1c40f;}
.box6 { background:#e67e22;}
.box7 { background:#2ed573;}
.box8 { background:#1e90ff;}
.box9 { background:#c56cf0;}
.box10 { background:#18dcff;}


.container {
    display: flex; /* applies flex to class container */
    min-height: 100vh; /*extends the viewpoint height of the container to fill the whole screen */
    flex-wrap: wrap; /* wrapping the container - when making screen bigger boxes will space out with 400px */
    flex-wrap: nowrap; /* will remove all wrapping */
    flex-wrap: wrap-reverse; /* will reverse the order of boxes and wrap, 10 -1 */
}

.box {
    width: 33.3333%; /* will set all boxes to a third, no matter how big or small screen is*/
    
}