@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:900');

* {box-sizing: border-box;}

.box {
    color: white;
    font-size: 100px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    padding:15px;
}
  
/* Colours for each box */
.box1 { background:#eccc68;}
.box2 { background:#ff6348;}
.box3 { background:#ff7f50;}
.box4 { background:#ff4757;}
.box5 { background:#f1c40f;}
.box6 { background:#e67e22;}
.box7 { background:#2ed573;}
.box8 { background:#1e90ff;}
.box9 { background:#c56cf0;}
.box10 { background:#18dcff;}


.container {
    display: flex; /* applies flex to class container */
    flex-direction: column; 
    min-height: 100vh;
    justify-content: center; /* aligns everything to the center of the page no matter the size of window */
    justify-content: flex-end; /* aligns everything to the end of the page no matter the size of window */
    justify-content: flex-start; /* aligns everything to the start of the page no matter the size of window */
    justify-content: space-between; /* adds space between each box */
    justify-content: space-around; /* adds space around each box, similar to above but includes space around the outside of boxes to the left and right sides */
}

.box {
    font-size: 20px;
}

/* adding flex-direction: column, min-height and reducing font size will make small, stacked columns that you can then justify */ 
